/*   filter: hue-rotate(90deg) saturate(120%);
 */
body {
  margin: 0;
  display: flex;
  background-color: rgb(0, 198, 43);
  font-weight: bolder;
  align-content: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
li img {
  width: 70%;
  height: 80%;
  border-radius: 5vw;
  border: #00267e solid 5px;
}
.conteudo {
  width: 100%;
  height: 10%;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  display: grid;
  margin-inline: 10vw;
  gap: 10vw;
  margin-top: 100px;
  border-radius: 4vw;
  background-color: #00000044;
  padding: 4vw;
}
.cell div {
  width: 50%;
  font-size: calc(8px + 2vw);
  text-align: center;
  align-content: center;
  justify-content: center;
}
.cell img {
  width: 25vmin;
  max-width: 4;
}
.cell a {
  text-decoration: none;
  color: aliceblue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}
.cell {
  text-align: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  transition: 0.3s;
  outline: #000 solid 4px;
  border: solid 5px white;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.137),
    rgba(0, 0, 0, 0)
  );
  background-color: rgb(0, 169, 23);
  display: flex;
  overflow: hidden;

  width: 60vw;
  height: 30vw;
  min-width: 80%;
  max-height: 12vmax;
  border-radius: 3vw;
  user-select: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
header img {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  height: 5vw;
  min-height: 50px;
  background-color: #00000000;
  filter: contrast(1.3);
  user-select: none;
}
#fundo {
  background-image: url(Imagens/image.png);
  width: 100%;
  height: 100vh;

  background-size: cover;
  position: fixed;
  z-index: -1000;
  background-repeat: no-repeat;
}

.logo {
  background-color: rgba(255, 255, 255, 0.662);
  border-radius: 8px;

  height: 100%;
  padding-inline: 3vw;
  align-items: center;
  align-content: center;
}

header {
  filter: contrast(1.3);
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;

  width: 100%;
  height: 7vmax;
  padding-left: 5vw;
  background-color: #018534c5;
  position: fixed;
  z-index: 100000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30%;
}

#toggle {
  display: none;
}

.button {
  display: inline-block;
  width: 90px;
  height: 35px;
  background-color: white;
  border-radius: 90px;
  position: relative;

  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.button::after,
.button::before {
  content: "";
  background-image: url(Imagens/sol.png);
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 4px;
  position: absolute;
  border-radius: 30px;
  background-color: #000000;
  transition: opacity 0.6s ease, transform 0.5s ease-out, background-color 1.5s;
}
.button::after {
  background-image: url(Imagens/sol.png);
  background-color: rgb(253, 97, 0);
  opacity: 1;
}
.button::before {
  background-image: url(Imagens/lua.png);
  background-color: #5d48bb;
  opacity: 0;
}
#toggle:checked + .button::after {
  opacity: 0;
  transform: translateX(175%);
  background-color: #5d48bb;
}
#toggle:checked + .button::before {
  opacity: 1;
  transform: translateX(175%);
}
body.dark #fundo {
  background-image: url(Imagens/image2.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
body.dark header {
  background-color: rgb(0, 99, 78);
}
body.dark {
  background-color: #0d0238;
}
body.dark .conteudo {
  color: aliceblue;
  display: grid;
}
body.dark .cell {
  background-color: rgb(5, 80, 32);
}
body.dark #tutorial {
  color: #fffcfc;
}
#tutorial {
  display: flex;

  color: rgb(0, 0, 0);
  background-color: #cdffdb70;
  width: 70%;
  margin-top: 10vh;
  height: 50vh auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-inline: 9vw;
  border-radius: 30px;
}
#tutorial button {
  background-color: #003470;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 30px;
}
#tutorial h2,
li {
  font-weight: 10000;

  margin-bottom: 20px;
}
#tutorial h2 {
  font-size: 4vmax;
}

#tutorial li {
  font-size: 3vmax;
  display: grid;
  flex-direction: column;
}
