body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1a1a1a;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-size: cover;
  background-image: url(Imagens/image.png);

  background-repeat: no-repeat;
  background-attachment: fixed; /* imagem fixa */
  background-position: center;
}

.container1 {
  opacity: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: block;

  transition: 1s;
}
#titulo {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20vh;
  color: #ffffffc9;
  -webkit-text-stroke: 0.5vw black;

  font-size: 5vw;
  width: calc(60vw);
  min-width: 300px;
  height: 40vw;
  max-height: 300px;
  background-color: rgba(178, 178, 178, 0);
  background: linear-gradient(120deg, #00000000, #ffffff, #00000024, #00000000);

  background-size: 300%;
  margin-inline: 15vw;
  border-radius: 30vw;
  transition: 1.5s;
}

.subt {
  color: #f5f5f500;
  transition: 2s;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  color: white;
  -webkit-text-stroke: 1px black;
  transition: 1s;
  margin-inline: 6vw;
}

@media (hover: hover) and (pointer: coarse) {
  .cell h2 {
    display: none;
  }
}
#uber img {
  filter: brightness(3);
}
#whatsapp h2 {
  color: rgb(0, 255, 0);
}
#facebook h2 {
  color: blue;
}
#telefone h2 {
  color: rgb(0, 106, 255);
}
.container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
  gap: calc(42px + 8vw);
  padding: 5vw;
  margin-top: 90px;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.538), rgba(0, 0, 0, 0));
  justify-items: center;
}

.cell {
  box-shadow: 5px 10px 10px rgb(0, 0, 0);
  background: linear-gradient(135deg, rgba(49, 49, 49, 0), rgb(0, 0, 0));
  background-color: rgb(49, 49, 49, 0.961);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  width: 40vw;
  height: 40vw;
  max-width: 375px;
  max-height: 19vh;
  border-radius: 4vw;
  border: solid rgb(37, 37, 37);
  border-left: solid #494949 0.25vw;
  border-top: solid #494949 0.25vw;
  transition: 0.4s;
  user-select: none;
  align-content: center;
  justify-items: center;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cell h2 {
  margin: 0px;
}
@media (hover: hover) and (pointer: coarse) {
  .cell {
    max-height: 10vh;
  }
}
.cell:hover {
  background-color: #6b6b6b;
}
.cell:active {
  background-color: white;
  transform: scale(1.05);
  transition: none;
}
a {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.cell img {
  max-width: 70%;
  max-height: 70%;
}
.cell-header img {
  max-width: 100%;
  max-height: 100%;
  background-color: #00000000;
  border-radius: 40px;
  padding-inline: 5vw;
  margin-bottom: 3vw;
}

.logo {
  background-color: rgba(255, 255, 255, 0.662);
  border-radius: 100px;
  margin-left: 5vw;
}

.cell-header {
  width: 90%;
  height: 10vh;
  background-color: #ffffff40; /* Cor de fundo cinza claro */
  position: fixed;
  z-index: 1000;
  display: flex;
  border-radius: 60px;
  margin-inline: 5vw auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#telefones {
  display: none;
  text-align: center;
  color: white;
  background-color: #000000;

  width: 100vw;
  height: 100vh;
}
#telefones h1 {
  color: #ff4444;
  font-size: 2em;
  margin-top: 50px;
}
#telefones .telefone {
  font-size: 1.5em;
  margin: 20px 0;
}
#voltar {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 30px;
}
#voltar:hover {
  background-color: #0099cc;
}
